body *{
    margin: 0;
}

#root{
    border: black solid 1px;
    height: 500px;
    width: 500px;
}

.field{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.small{
    height: 250px;
    width: 250px;
}
.big{
    height: 500px;
    width: 500px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}
.red {
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}